<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>claude</key>
	<dict>
		<key>name</key>
		<string>claude</string>
		<key>checksum</key>
		<string>e9d3b28b21570d3443c1bc65e70a38c62f433badc1d23f3d2bdf48ee4b8b9802d5c761f36f2657f20e41b24f6276382963250e7f679b2a812c108b89c547f261</string>
		<key>url</key>
		<string>https://storage.googleapis.com/claude-code-dist-86c565f3-f756-42ad-8dfa-d59b1c096819/claude-code-releases/2.1.81/darwin-arm64/claude</string>
		<key>version</key>
		<string>2.1.81</string>
	</dict>
	<key>codex</key>
	<dict>
		<key>name</key>
		<string>codex</string>
		<key>checksum</key>
		<string>db3bd3ab8ebf22029ccd1315e53a7a0ff3914b5e98de14ae6ad98aa1e5ff8004f7ed9a96cc043c34016cabd866af3b3a720ceb08f54e8a692df57d962361ef7e</string>
		<key>url</key>
		<string>https://github.com/openai/codex/releases/download/rust-v0.116.0/codex-aarch64-apple-darwin.tar.gz</string>
		<key>version</key>
		<string>0.116.0</string>
	</dict>
</dict>
</plist>
